<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="min-h-[60vh] flex items-center justify-center">
    <h1 class="text-3xl font-semibold">elixirbits</h1>
  </div>
</Layouts.app>
